# IDE
.vscode

# Virtual envs
venv/

# Files and repositories Python
__pycache__/
*.egg
*.egg-info/
dist/
build/

# Runtime files
nohup.out
tokens.json
diagho_uploader.sh.pid

# Config files
config/*
!config/config.example.yaml

# Biofiles and metadata files
*.csv*
*.tsv*
*.vcf*
*.log*

# Prod directories
/archives/*
/biofiles/*
/data/*
/logs/*
/metadata/*