# IDE
.vscode

# Virtual envs
venv/

# Files and repositories Python
__pycache__/
*.egg
*.egg-info/
dist/
build/

# Config files
config/.env
config/config.yaml

# Divers
README.save.md
nohup.out
app.log
app*