# IDE
.vscode

# Virtual envs
venv/

# Files and repositories Python
__pycache__/
*.egg
*.egg-info/
dist/
build/

# Config files
.env
*.yaml
/config/!config.example.yaml

# Divers
README.save.md
nohup.out
*.log
logs/
tokens.json
start_watcher.flag
diagho_uploader.sh.pid

# Biofiles and metadata files
*.csv*
*.tsv*
*.vcf*
*.json

# Prod directories
/archives
/biofiles
/data
/metadata