input_data: "path/to/input/data"
input_biofiles: "path/to/input/data"
backup_data_files: "path/to/backup/data"
backup_biofiles: "path/to/backup/biofiles"

log_directory: "path/to/logs/folder"

check_biofile:
  max_retries: 100
  delay: 10
  
check_loading:
  max_retries: 500
  delay: 60

check_authent:
  max_retries: 5
  delay: 10

emails:
  recipients: "xxxx@example.fr"

smtp:
  server: "servmail"
  port: 25
  use_tls: false
  from_email_format: "diagho-uploader-{hostname}@example.fr"

diagho_api:
  username: ""
  password: ""
  url: "http://hostname:8080/api/v1/"

accessions:
  GRCh37: 1
  GRCh38: 2
