input_data: "path/to/input/data"
input_biofiles: "path/to/input/data"
backup_data_files: "path/to/backup/data"
backup_biofiles: "path/to/backup/biofiles"

check_biofile:
  max_retries: 100
  delay: 10
  
check_loading:
  max_retries: 500
  delay: 60

check_authent:
  max_retries: 5
  delay: 10

emails:
  recipients: "xxxx@example.fr"

smtp:
  server: "servmail"
  port: 25
  use_tls: false
  from_email_format: "diagho-uploader-{hostname}@example.fr"

logging:
  log_directory: "path/to/logs/folder"
  log_rotation_when: "W0"   # chaque lundi
  log_rotation_interval: 1  # intervalle
  log_backup_count: 52      # nombre de logfiles à conserver (ex: 52 semaines)

diagho_api:
  username: ""
  password: ""
  url: "http://hostname:8080/api/v1/"
  allow_insecure: true

accessions:
  GRCh37: 1
  GRCh38: 2

interpretations:
  excludeColumns: [
        "ad_allele_1", "ad_allele_2", "gt_allele_1", "gt_allele_2", "name", "gt_phased", "OLD_MULTIALLELIC", "OLD_VARIANT", "columns", "AC", "ADJAF", "AF", "AN", "AQ", "BaseQRankSum", "BIAS", "CALLER", "CIGAR", "CIPOS", "DB", "DP", "DUPRATE", "ExcessHet", "FS", "HIAF", "HICNT", "HICOV", "HOMLEN", "HOMSEQ", "LSEQ", "MLEAC", "MLEAF", "MQ", "MQRankSum", "MSI", "MSILEN", "NM", "ODDRATIO", "OLD_CLUMPED", "PMEAN", "PSTD", "QD", "QSTD", "QUAL", "ReadPosRankSum", "REFBIAS", "RSEQ", "SAMPLE", "SBF", "SHIFT3", "SN", "SOR", "SPANPAIR", "SPLITREAD", "SVLEN", "VARBIAS", "VD"
        ]
  projects:
    "Nom du projet Test 1": "test1-project-slug"
    "Nom du projet Test 2": "test2-project-slug"